administrator/components/com_menus/presets/menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="menu" type="menuType"/>
  <xs:complexType name="menuType">
    <xs:sequence>
      <xs:element type="menuitemType" name="menuitem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="menuitemType" mixed="true">
    <xs:sequence>
      <xs:element type="menuitemType" name="menuitem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
    <xs:attribute type="xs:string" name="title" use="required"/>
    <xs:attribute type="xs:string" name="link" use="required"/>
    <xs:attribute type="xs:string" name="element" use="optional"/>
    <xs:attribute type="xs:string" name="class" use="required"/>
  </xs:complexType>
</xs:schema>
